

#topnav{
padding: 5px;
}

#topnav li{
  display: inline;
text-decoration: none;
padding-right: 9px;
float:right;


}
#topnav li:hover{
  background-color:blue;

}
#topnav li a{

text-decoration: none;
color:#ffc700;
font-size: 30px;
font-family: cursive;

}
